/* MOBILE-S */

@media screen and (min-width:600px) {

    .height-top-section .sidebar {
        width: 120px;
    }

    .height-top-section .content {

        width: calc(100% - 120px);
    }

    .sidebar img {
        width: 30px;
        height: 30px;
    }


    .sidebar .icon ul li span {
        display: inline;
    }

    .sidebar .playlist {
        display: block;
    }

    .logo-small {
        display: none;
    }

    
    .sidebar .icon .logo-large {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        display: inline;

    }

    .border-bottom {
        display: block;
    }
    
    .sidebar .users-menu ul li span {
        display: inline;
    }

}


/* TABLET-MD */

@media screen and (min-width:700px) {

    .height-top-section .sidebar {
        width: 150px;
    }

    .height-top-section .content {
        width: calc(100% - 150px);
    }


}


/* DESKTOP-LG */

@media screen and (min-width:1100px) {}