/*****************
*RESET
******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-bottom: 10px;
}


/*****************
*COMMON
******************/

.wrapper {
    width: 100%;
    height: 100vh;

    /* debug */
    background-color: brown;

}

li {
    list-style: none;
    gap: 10px;
}



/*****************
*UTILITIES
******************/
.border-bottom {
    display: none;
}

.m-bot10 {
    margin-bottom: 10px;
}

.m-top10 {
    margin-top: 10px;

}

.m-right10 {
    margin-right: 10px; 
}


.m-bottom10 {
    margin-bottom: 10px;
}


.color-white {
    color: white;
}

/* FLEXANDO */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap5 {
    gap: 5px;
}


.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.flex-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

/*****************
*top section
******************/

.height-top-section {

    height: calc(100% - 100px);
}


.sidebar {
    width: 50px;
    padding: 10px;
    background-color: black;
    color: gray;

}

.plus {
    width: 40px;
    font-size: 30px;
    background-color: gray;
}

.sidebar ul {
    gap: 5px;
}

.logo-small {
    margin-bottom: 10px;
}

.icon ul li span {
    display: none;
}

.users-menu ul li span {
    display: none;

}

.playlist {
    display: none;
    margin-top: 10px;
}

.logo-large {
    display: none;
}

.content {
    width: calc(100% - 50px);

    /* debug */
    background-color: rgb(31, 47, 47)
}

header {
    height: 60px;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgb(15, 26, 26);
}

main {
    overflow-y: auto;
    height: calc(100% - 60px);
    padding: 20px;
}

.popolar-artist .col a img {
    border-radius: 50%;
}


.btn {
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

.col {
    width: calc(100% / 2 - 10px);
    text-align: center;
}


.recently-played h3 {
    color: white;

}

.recently-played span {
    color: gray;
}

.create-for-you h3 {
    color: white;
}

.popolar-artist h3 {
    color: white;
}

.nav-top-main ul li {
    color: white;

}

.nav-top-main ul {
    justify-content: space-evenly;
}

main h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

.active {
    color:white;
}

.border-green {
    border-left: 3px solid green;
    border-radius: 10px;
    border-right: 3px solid green;
}




/*****************
*bottom section
******************/

footer {

    height: 100px;
    background-color: rgb(42, 48, 48);
    color: white;
    padding: 10px;
}


.song ul li img {

}

.time-bar {
    height: 6px;
    width: 150px;
    
    background-color: gray;
    border-radius: 10px;
}

.time-bar-small {
    height: 6px;
    width: 80px;
    background-color: gray;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
    width: 40px;
    background-color: white;
}



.player ul {
    margin-bottom: 10px;
    
}


.connection,
.song {
    width: 200px;
}




/*****************
*UTILITIES
******************/